:root {
    --primary: #1888ff;
  }
  
  .button  {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    margin-left: 0.5em;
  }
  
  .button:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  